__support/
GameuxInstallHelper.dll
goggame.sdb
goggame-1207658692.ico
goggame-1207658692.info
goggame-galaxyFileList.ini
goglog.ini
Help/
Launch Unreal Tournament GOTY.lnk
Logs/
Manual/
Maps/
Music/
NetGamesUSA/
Sounds/
Support.ico
System/
Textures/
unins000.dat
unins000.exe*
unins000.msg
Web/
webcache.zip